:root {
  --gray: #212121;
  --green: #009660;
  --white: #e9e9e9;
  --black: rgb(12, 12, 12);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color:white;
}
html,body{
    height:100%;
    width:100%;
    background-color:var(--white);
}
.navbar{
    height:5vw;
    width:100%;
    background-color: transparent;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
}
.nav-logo{
    height:100%;
    width:20vw;
    display: flex;
    justify-content:flex-start;
    align-items: center;
   
}
.logo{
    margin-left:0.5rem;
    height:80%;
    width:20%;
    background-image: url("img/Gemini_Generated_Image_pbkhsipbkhsipbkh.png");
    background-size:cover;
    border-radius: 50%;
}
.logo-name{
    font-family: neu,serif;
    width:10vw;
    padding-left:10px;
    font-size:1rem;
    font-family: monospace;
     font-family: neu;
}
.nav-data{
    height:100%;
    width:40vw;
    display: flex;
    align-items: center;
    gap:40px;
    margin-right: 100px;
    font-family: monospace;
}
.nav-data a{
    font-size:1rem;
    text-decoration: none;
    display: inline;
}
.nav-resume{
    height:100%;
    width:15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    height: 2.6vw;
    width:6vw;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight:600;
    border-radius: 999px;
    background-color: transparent;
}
.btn:hover{
    height: 3vw;
    width:7vw;
   background-image: linear-gradient(to left top, #81d8d0, #6dd1c9, #58c9c2, #3dc2bb, #0abab5);
}


/* starting nav bar responsive */
@media(max-width:945px){
 .nav-data{
   display:none;
}
.logo-name{
    width:15vw;
    padding-left:10px;
    font-size:0.6rem;
    font-family: monospace;
    font-weight: bold;
 }
 .nav-resume5{
    padding-right:40px;
 }
 .nav-resume i{
    display:none;
 }
}

@media(max-width:600px){
 .nav-resume{
    padding-right:80px;
 }
 .nav-logo{
    margin-top: 20px;
    margin-left: 20px;
 }
}
/* ending nav bar responsive */

main{
  height:100%;
  background-image: url("img/Gemini_Generated_Image_q4eidq4eidq4eidq.png");
  background-size: cover;
}
.hero{
    height:60%;
    width:100vw;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-family: monospace;
}
.hero-data{
    height:50%;
    width:80%;
    padding:2rem 0 0 3rem;
    line-height: 2rem;
}
.hero-data h1{
    font-weight: 900;
    color:var(--white);
    display:inline;
    font-size:2.5rem;
}

.hero-data h2{
    font-weight: 900;
    color: var(--gray);
}
.hero-info{
    line-height: 1rem;
}
.btn-card{
    width:20vw;
    height:10vh;
    
}
.hero-msg{
    height:3vw;
    width:8vw;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight:600;
    border-radius: 10px;
    background-color:var(--gray);
    margin-top: 1rem;
    display: inline-block;
}

.hero-prj{
     height:3vw;
    width:8vw;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight:600;
    border-radius: 10px;
    background-color:var(--gray);
     margin-top: 1rem;
       display: inline-block;
}

/* hero responsive start */
@media(max-width:945px)
{
.hero{   
    justify-content: center;
    
}
.hero-data{
    line-height: 2.5rem;
}
.hero-data h1{
    font-size: 6vw;
}
.hero-data h2{
    font-size: 4vw;
    font-weight: 900;
}
.hero-info{
    font-size:2vw;
}
.btn-card{
    width:90%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10vw;
    margin-top: 2%;
}
.hero-msg{
    font-size: 1.2vw;
    width:12vw;
    height:4vw;
}
.hero-prj{
    font-size: 1.2vw;
     width:12vw;
    height:4vw;
}
}

@media(max-width:600px)
{
.hero-data h1{
    font-size: 8vw;
}
.hero-data h2{
    font-size: 6vw;
    font-weight: 900;
}
.hero-info{
    font-size:3vw;
}
.btn-card{
    width:90%;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10vw;
    margin-top: 1%;
}
.hero-msg{
    font-size: 2vw;
    width:15vw;
    height:6vw;
}
.hero-prj{
    font-size: 2vw;
     width:15vw;
    height:6vw;
}
}
/* hero responsive end */

.hero2{
height:auto;
width:100%;

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


.hero2-name h1 {
    font-size: 4.5rem;
    background-image: url("img/y1.jpeg");
    background-size: cover;
    background-clip: text;
    color: transparent;
}

.card-container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem;
    gap:1rem;

}

.card1{
    width:30vw; 
    height:35vw;
    background-color: #81d8d0;
    border-radius: 0.5rem;
    border:2px solid #81d8d0;
    padding:0.4rem;
}
.card1 div.img1{
    height:50%;
    width: 100%;
    background-image: url("img/p1.png");
    background-size: cover;
    border-radius: 0.6rem;
}

.card-info h2{
    padding: 0.6rem;
    font-size: 3rem;
}
.card-info p{
    width:100%;
    padding-left: 0.6rem;
}
.card-info button{
    margin:1rem  0  0 0.6rem;
    height: 2.6vw;
    width:6vw;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight:600;
    border-radius: 999px;
    background-color: var(--gray);
}
.card2{
     width:30vw; 
     height:35vw;
    background-color: #81d8d0;
     border-radius: 0.6rem;
      padding:0.4rem;
}
.card2 div.img2{
    height:50%;
    background-image: url("img/p3.png");
    background-size: cover;
    border-radius: 0.6rem ;
}

.card3{
     width:30vw;
     height:35vw;
     background-color: #81d8d0;
     border-radius: 0.6rem;
      padding:0.4rem;
}
.card3 div.img3{
    width:100%;
    height:50%;
    background-image: url("img/p2.png");
    background-size: cover;
    border-radius: 0.6rem ;
}

/* hero2 responsive start */

@media(max-width:1250px){
.card-info h2{
    font-size: 2.5rem;
    padding:0.2rem;
}
.hero2-name h1 {
    font-size: 6vw;
    background-image: url("img/y1.jpeg");
    background-size: cover;
    background-clip: text;
    color: transparent;
}
.card-info p{
    font-size: 0.8rem;
    color: black;
}
.card-info button{
    margin:0.3rem;
    height: 2.6vw;
    width:6vw;
    border: none;
    outline: none;
    font-size: 0.7rem;
    font-weight:600;
    border-radius: 999px;
    background-color: var(--gray);
}
}

@media(max-width:945px)
{
 .hero2-name h1 {
    font-size: 5vw;
    background-image: url("img/y1.jpeg");
    background-size: cover;
    background-clip: text;
    color: transparent;
}
.card1{
    height:50vw;
    width:50%;
    margin:0 5rem;
}
.card2{
    height:50vw;
    width:50%;
    margin:0 5rem;
}
.card3{
    height:50vw;
    width:50%;
    margin:0 5rem;
}
.card-info h2{
    font-size: 3rem;
    padding:0.3rem;
}
.card-info p{
    font-size: 0.9rem;
    color: black;
}
.card-info button{
    height: 4vw;
    width:8vw;
    border: none;
    outline: none;
    font-size: 0.6rem;
    font-weight:600;
    border-radius: 999px;
    background-color: var(--gray);
}
}

@media(max-width:760px)
{
    .hero2-name h1 {
    font-size: 8vw;
    background-image: url("img/y1.jpeg");
    background-size: cover;
    background-clip: text;
    color: transparent;
}
.card1{
    height:60vw;
    width:50%;
    margin:0 5rem;
}
.card2{
    height:60vw;
    width:50%;
    margin:0 5rem;
}
.card3{
    height:60vw;
    width:50%;
    margin:0 5rem;
}
}

@media(max-width:685px)
{
.card1{
    height:65vw;
    width:60%;
    margin:0 5rem;
}
.card2{
    height:65vw;
    width:60%;
    margin:0 5rem;
}
.card3{
    height:65vw;
    width:60%;
    margin:0 5rem;
}
.card-container{
        padding: 1rem;
    }
    .hero2-name{
      margin-top:5rem;
}
}
@media(max-width:585px)
{
.hero2-name h1 {
    font-size:9vw;
    background-image: url("img/y1.jpeg");
    background-size: cover;
    background-clip: text;
    color: transparent;
}
.card1{
    height:70vw;
    width:70%;
    /* margin:0 5rem; */
}
.card2{
    height:70vw;
    width:70%;
    margin:0 5rem;
}
.card3{
    height:70vw;
    width:70%;
    margin:0 5rem;
}
.card-info h2{
    font-size: 2.5rem;
    padding:0.4rem;
}
.card-info p{
    font-size: 0.8rem;
    color: black;
}
.card-container{
        padding: 1rem;
    }
}

@media(max-width:470px)
{
    .hero2-name h1 {
    font-size:8vw;
    margin-bottom: 0.9rem;
    background-image: url("img/y1.jpeg");
    background-size: cover;
    background-clip: text;
    color: transparent;
    
}
    .card-container{
        padding: 0rem;
    }
 .card1{
    height:85vw;
    width:100%;
    margin:0 5rem;
    overflow: hidden;
}
.card2{
    height:85vw;
    width:100%;
    margin:0 5rem;
}
.card3{
    height:85vw;
    width:100%;
    margin:0 5rem;
}
.card-info h2{
    font-size: 2.5rem;
    padding:0.2rem;
}
.card-info p{
    font-size: 0.8rem;
    color: black;
}   
}
/* hero2 responsive end */

/*  skills section start */
.skills-container{
    height: 100%;
    width:100%;
    /* background-color:brown; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: monospace;
}
.skills-heading{
    width:70%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.skills-heading h1{
    color:#81d8d0;
    font-size:5vw;
    font-weight: 900;
}
.skills-container h3{
    color: var(--gray);
    font-size: 1.5vw;
}

.skills-cards{
    width:100%;
    height:100%;
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.scard{
    width:14vw;
    height:35%;
    margin:3rem;
    border-radius: 1rem;
}
.scard p{
    padding:0.7rem;
}
.html{
    height:100%;
    width:100%;
    background-size: cover;
    border-radius: 1rem 1rem;
}
.css{
    height:100%;
    width:100%;
    background-size: cover;
    border-radius: 1rem 1rem;
}
.js{
    height:100%;
    width:100%;
    background-size: cover;
    border-radius: 1rem 1rem;
}

.git{
    height:100%;
    width:100%;
    background-size: cover;
    border-radius: 1rem 1rem;
}
.seo{
    height:100%;
    width:100%;
    background-size: cover;
    border-radius: 1rem 1rem;
}
.node{
    height:100%;
    width:100%;
    background-image: url("img/nodejs.webp");
    background-size: cover;
    border-radius: 1rem 1rem;
}
.react{
    height:100%;
    width:100%;
    background-image: url("img/react.png");
    background-size: cover;
    border-radius: 1rem 1rem;
}
.mongo{
    height:100%;
    width:100%;
    background-image: url("img/mongo.png");
    background-size: cover;
    border-radius: 1rem 1rem;
}
.scard p{
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--gray);
}
@media(max-width:1400px)
{
    .scard{
    width:14vw;
    height:30%;
    margin:3rem;
    border-radius: 1rem;
    }
    .scard{
    width:14vw;
    height:35%;
    margin:2rem;
    border-radius: 1rem;
    }
    .skills-container h3{
    color: var(--gray);
    font-size: 1.6vw;
}
}
@media(max-width:1200px)
{
    .scard{
    width:20vw;
    height:30%;
    margin:3rem;
    border-radius:1rem;
    }
.skills-heading h1{
    color:#81d8d0;
    font-size:6vw;
    font-weight: 900;
}
.skills-container h3{
    color: var(--gray);
    font-size: 1.7vw;
}
}

@media(max-width:1000px)
{
    .scard{
    width:20vw;
    height:25%;
    margin:3rem;
    border-radius:1rem;
    }
    .skills-heading h1{
    color:#81d8d0;
    font-size:6vw;
    font-weight: 900;
}
.skills-container h3{
    color: var(--gray);
    font-size: 2vw;
}
}
@media(max-width:800px)
{
    .scard{
    width:20vw;
    height:20%;
    margin:2rem;
    border-radius:1rem;
    }
    .skills-heading h1{
    color:#81d8d0;
    font-size:6vw;
    font-weight: 900;
}
.skills-container h3{
    color: var(--gray);
    font-size: 2vw;
}
}
@media(max-width:600px)
{
    .scard{
    width:30vw;
    height:15%;
    margin:2rem;
    border-radius:1rem;
    }
     .skills-heading h1{
    color:#81d8d0;
    font-size:7vw;
    font-weight: 900;
}
.skills-container h3{
    color: var(--gray);
    font-size: 2.5vw;
}
}
@media(max-width:400px)
{
    .scard{
    width:30vw;
    height:10%;
    margin:2rem;
    border-radius:1rem;
    }
     .skills-heading h1{
    color:#81d8d0;
    font-size:8vw;
    font-weight: 900;
}
.skills-container h3{
    color: var(--gray);
    font-size: 3vw;
}
}
/*  skills section end */
.footer-links{
    width: 100%;
    height: 5vw;
    background-color: #58c9c2;
    margin:100px 0 0 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 1.5rem;
}

@media(max-width:1800px){
     .footer-links{
         margin:1500px 0 0 0; 
     }
    }
@media(max-width:953px){
     .footer-links{
         margin:2200px 0 0 0; 
     }

}
